<div id='tab-set'>
  <ul class="tabs">
  	<li>
      <%= 
        link_to "files", files_project_repository_path(@owner, @repository), 
        :class => repository_sub_path(controller.request.fullpath) == "files" ||
        repository_sub_path(controller.request.fullpath) == @repository.to_param ? 'selected' : ''
       %>
  	</li>
  	<li>
      <%= 
        link_to "branches", branches_project_repository_path(@owner, @repository), 
        :class => repository_sub_path(controller.request.fullpath) == "branches" ? 'selected' : ''
       %>
  	</li>
  	<li>
      <%= 
        link_to "commits", commits_project_repository_path(@owner, @repository), 
        :class => repository_sub_path(controller.request.fullpath) == "commits" ? 'selected' : ''
       %>
  	</li>
  </ul>
  <div id="files" style="<%=repository_sub_path(controller.request.fullpath) == "files" ||
       repository_sub_path(controller.request.fullpath) == @repository.to_param ? 'display: block;' : 'display: none;' %>">
    <p>file viewer</p>
  </div>
  <div id="branches" style="<%=repository_sub_path(controller.request.fullpath) == "branches" ? 'display: block;' : 'display: none;' %>">
    <%= render 'branches' %>
  </div>
  <div id="commits" style="<%=repository_sub_path(controller.request.fullpath) == "commits" ? 'display: block;' : 'display: none;' %>">
    <%= render 'commits' %>
  </div>
</div>